<main>
    <div class="track-list">
        <ul class="list-group">
        </ul>
    </div>

    <div class="player-wrapper">
        <div id="player"></div>
    </div>
</main>

@section NavbarContent
{
    <li class="nav-item" id="track-list-toggle">
        <a class="nav-link" href="#">Track List</a>
    </li>
}

@section Scripts
{
    <environment names="Staging, Production">
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/main.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/main.js"></script>
    </environment>

    <script src="https://www.youtube.com/iframe_api"></script>
}