<div id="player"></div>

@section Scripts
{
    <environment names="Staging, Production">
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/main.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/main.js"></script>
    </environment>

    <script src="https://www.youtube.com/iframe_api"></script>
}