<!DOCTYPE HTML>
<html>
<head>
    <title>Radio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <environment names="Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/styles.min.css"/>
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Radio</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                @RenderSection("NavbarContent", required: false)
            </ul>
        </div>
    </nav>
</header>

@RenderBody()

<environment names="Staging, Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>